
#hero {
background: linear-gradient(12deg,rgba(10, 10, 10, 1) 42%, rgba(254, 208, 39, 0.27) 100%);
}


/* SECTION Name * Info */
.hero-container-grid-name-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  grid-row-gap: 15px;
  font-size: 15px;

    .hero-grid-item-name-img { grid-area: 1 / 1 / 2 / 6; }
    .hero-grid-item-text-1 { grid-area: 2 / 1 / 3 / 2; }
    .hero-grid-item-text-2 { grid-area: 2 / 2 / 3 / 3; }
    .hero-grid-item-text-3 { grid-area: 2 / 3 / 3 / 4; }
    .hero-grid-item-text-4 { grid-area: 2 / 4 / 3 / 5; }

       @media (max-width: 794px) {


      .hero-grid-item-text-1 {
        grid-area: 2 / 1 / 3 / 3;
      }

      .hero-grid-item-text-2 {
        grid-area: 2 / 3 / 3 / 5;
      }

      .hero-grid-item-text-3 {
        grid-area: 3 / 1 / 4 / 3;
      }

      .hero-grid-item-text-4 {
        grid-area: 3 / 3 / 4 / 5;
      }
    }
}



/* SECTION Image * Desc * Button */
.hero-container-grid-img-desc-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 60px;
  align-items: start;


  .hero-grid-item-me-img {
    grid-area: 1 / 1 / 4 / 3;
    width: 16rem;
  }
  .hero-grid-item-desc {
    grid-area: 1 / 3 / 2 / 5;
    font-size: 18px;
   }
  .hero-grid-item-button {
    grid-area: 2 / 3 / 3 / 4;
  }


}
@media (max-width: 768px) {
  .hero-container-grid-img-desc-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

  .hero-grid-item-me-img {
    width: 15rem;
  }
  }

  .hero-grid-item-desc p{
      text-align: center;
      font-size: 16px;
    }
}


