/* --------------------------------------------------
Root variables & base styles
-------------------------------------------------- */
:root {
  --font-mono: 'Fira Mono', 'Courier New', monospace;
  --bg: #0A0A0A;
  --dim: 0.5;
  --color-white: #F6F6F6
}

.color-yellow {
  color: #FED027;
}

.bg-yellow {
  background-color: #FED027;
}


html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--color-white);
  font-family: var(--font-mono);
  line-height: 1.55;
}

h2 {
  font-size: 36px;
  color: #F6F6F6;
  font-weight: bold;
  line-height: 1.25;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 28px;
  color: #F6F6F6;
  font-weight: bold;
  line-height: 1.15;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

p {
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
